extends layout

block content
  h1= title
  p Welcome to #{title} BETA
  p
  p Download your Hacker News comments and stories and get user statistics.
  p
  p Usage: http://hnuser.herokuapp.com/username/[username]