extends layout

block content
  h1= title 

  div#target 
      target="Calculating...please wait..."

  script(type='text/javascript' src='/lib/jquery.min.js')

  script.
     $(function() {
         $.get('/userdetails/#{data.author}', function(result) {
            $('#target').html(result);
         });
     });
