#chart1 svg {
  height: 400px;
}
#chart2 svg {
  height: 400px;
}
#chart3 svg {
  height: 400px;
}
#chart4 svg {
  height: 400px;
}
#chart5 svg {
  height: 400px;
}
#chart6 svg {
  height: 400px;
}
#chart7 svg {
  height: 400px;
}
#chart8 svg {
  height: 400px;
}
